# This workflow will install Python dependencies, lint and run tests, then build the app and create a release.
# For more information see: https://docs.github.com/en/actions/use-cases-and-examples/building-and-testing/building-and-testing-python

name: Build and Release

on:
  push:
    branches:
      - main
      - master
    tags:        
      - 'v*'
  workflow_dispatch:
    inputs:
      version_bump:
        description: 'Version bump type (major, minor, patch)'
        required: true
        default: 'patch'
        type: choice
        options:
          - major
          - minor
          - patch

permissions:
  contents: write

jobs:
  call-workflow:
    uses:  ./.github/workflows/test.yml

  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.13
      - name: Upgrade pip
        run: python -m pip install --upgrade pip
      - name: Install build requirements
        run: pip install -r requirements.txt pyinstaller
      - name: Build
        run: pyinstaller ./src/infernal_engine/main.py -F -n InfernalEngine.exe --add-data=template_files:template_files
      - name: Bump version and push tag
        id: tag_version
        uses: mathieudutour/github-tag-action@v6.2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
      - name: Create a GitHub release
        uses: ncipollo/release-action@v1
        with:
          tag: ${{ steps.tag_version.outputs.new_tag }}
          name: Release ${{ steps.tag_version.outputs.new_tag }}
          body: ${{ steps.tag_version.outputs.changelog }}
          artifacts: "dist/InfernalEngine.exe"